
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";

body{
    font-family: "Smooch Sans", sans-serif;
}

p,li,button,label, input, option,textarea, select, .contact{
     font-family: "Montserrat", sans-serif;
}

.arrow{
    animation-name: arrow;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);

    }
    
}





.colors{
    font-size:#404040;
    font-size: #f5060a;
    font-size: #0e2c8c;
    font-size: #0627c2;
}