
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import "tailwindcss";

body{
    font-family: "Smooch Sans", sans-serif;
}

p,li,button,label, input, option,textarea, select, .contact{
     font-family: "Montserrat", sans-serif;
}

.arrow{
    animation-name: arrow;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes arrow {
    0%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0px);

    }
    
}
/* Hide scrollbar for all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a{
  font-family:"Montserrat", sans-serif ;
}





.colors{
    font-size:#404040;
    font-size: #f5060a;
    font-size: #0e2c8c;
    font-size: #0627c2;
}


.mobile-menu-enter {
  opacity: 0;
  transform: translateY(-10px);
}
.mobile-menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in-out;
}
.mobile-menu-exit {
  opacity: 1;
  transform: translateY(0);
}
.mobile-menu-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 300ms ease-in-out;
}
